<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.0.xsd"
 >

	<bean id="snapdragon" class="com.spring.firstspring.SnapDragon">
		<property name="name" value="SnapDragon"> </property>
	</bean>
	<bean id="mediatek" class="com.spring.firstspring.MediaTek">
		<property name="name" value="MediaTek"> </property>
	</bean>	
	<bean id="samsung" class="com.spring.firstspring.Samsung">
		<property name="processor" ref="snapdragon"> </property>
	</bean>
	<bean id="nokia" class="com.spring.firstspring.Nokia" autowire="byName">
		<property name="processor" ref="snapdragon"> </property>	
	</bean>	

</beans>  